<div class="nested-fields">

  <div class="form-group">
    <%= f.label :item %><br/>
    <%= f.select :item, options_for_select(valid_add_ons, selected: f.object.item), {include_blank: true}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br/>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %><br/>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="text-right">
    <%= link_to_remove_association "Remove Add On", f, class: "btn btn-danger-invert" %><%= fa_icon('times', style: 'color:red;') %><br/><br/>
  </div>
</div>
