<div class="container">
  <%= @farm.name %><br />
  <%= @farm.street_address %><br />
  <%= @farm.city %>, <%= @farm.state %> <%= @farm.zipcode %><br />

  <%= @farm.description %><br />
  <%= @farm.year_founded %><br />
  <%= @farm.website_url %><br />
  <%= @farm.contact_email %><br />
  <%= @farm.contact_phone %><br />

  <% @farm.farm_photos.each do |photo| %>
      <div class="row">
        <div class="col-xs-12 col-md-12">

          <%= image_tag(photo.image(:medium)) %>
          <hr>

        </div>
      </div>
  <% end %>

  <% @farm.shares.each do |share| %>
  <%= share.season %><br />
  <%= share.start_date %><br />
  <%= share.end_date %><br />
  <%= share.weeks %><br />
  <%= share.price %><br />
  <%= share.description %><br />
  <%= share.num_shares %><br />
  <%= share.organic %><br />
  <%= share.taking_orders %><br />
  <%= share.vegetables %><br />
  <% end %>

  <% @farm.add_ons.each do |a| %>
    <%= a.item %> <br />
    <%= a.price %> <br />
    <%= a.description %>
  <% end %>
</div>