<div class="container">
  <%= @farm.name %><br />
  <%= @farm.street_address %><br />
  <%= @farm.city %>, <%= @farm.state %> <%= @farm.zipcode %><br />

  <%= @farm.description %><br />
  <%= @farm.year_founded %><br />
  <%= @farm.website_url %><br />
  <%= @farm.contact_email %><br />
  <%= @farm.contact_phone %><br />
</div>