<div class="container">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-6">
      <div class="thumbnail col-md-8" style="padding: 20px;">
        <h2 class="featurette-heading primary-color">Sign up</h2>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <%= f.email_field :email, :placeholder => 'Email address', :class => 'form-control',
                              :style => 'margin-bottom: -1px; border-radius: 0px; border-top-left-radius: 4px; border-top-right-radius: 4px;' %>
            <%= f.password_field :password, :placeholder => 'Password (6 characters minimum)', :class => 'form-control', :style => 'margin-bottom: -1px; border-top-left-radius: 0; border-top-right-radius: 0; border-radius: 0px;' %>

            <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation', :class => 'form-control',:style => 'border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 0;' %>

            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <label class="radio-inline">
              <%= f.radio_button(:user_type, "farmer") %> I'm a Farmer
            </label>
            <label class="radio-inline">
              <%= f.radio_button(:user_type, "consumer") %>I'm a Consumer
            </label><br/>
            <%= f.submit "Sign up", :class => 'btn btn-lg btn-success btn-block', :style => 'margin-top: 10px;' %>
        <% end %>
        <br>
        <div class="primary-color">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-pull-6" style="text-align: -webkit-center;">
      <%= image_tag("veggies and fruits.jpg", class: "dashboard-icon featurette-image img-responsive center-block") %>
    </div>
  </div>
</div>

