<body style="background: #ffffff !important;">


<!--<div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth">
        <source src="/assets/Veggie-Stand.mp4" type="video/mp4"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="/assets/Veggie-Stand.webm" type="video/webm"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
      <div class="poster hidden">
        <%= image_tag('Veggie-Stand.jpg') %>
      </div>
    </div>
  </div>-->

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <div class="header">
      <h2 class="featurette-heading primary-color">We Have Some Fresh News for You >>
        <span class="text-muted"><%= fa_icon('leaf', class: 'primary-color pull-right') %> natural, fresh food is affordable now</span>
      </h2>
      <br>
      <div class="hidden-sm hidden-xs text-center">
        <%= image_tag('vegetables.jpg', style: 'vertical-align: middle; height: 141px;') %>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-md-pull-7" style="text-align: -webkit-center;">
    <%= image_tag('veggies and fruits.jpg', class: "featurette-image img-responsive center-block") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading primary-color">Because you're a local community member:
      <span class="text-muted"> here's an exclusive discount on fresh food -
      take a look! </span></h2>
    <p class="lead">Eating fresh, healthy normally costs you money. Local Farmers believe making you pay so much for
      real food
      is wrong because every person deserves healthy food! So the farmers created CSA Shares.</p>
  </div>
  <div class="col-md-5">

    <table class="table table-hover">
      <tr>
        <th class="primary-color" style="vertical-align: bottom;"><%= fa_icon('leaf', class: 'primary-color pull-right') %>
          FRESH FOOD for YOU
        </th>
        <th class="primary-color text-center">CSA Share</th>
        <th class='text-center' style="vertical-align: bottom;">
          <small>Grocery Stores</small>
        </th>
      </tr>
      <tr>
        <td>Support Local Farms</td>
        <td class="primary-color text-center"><%= fa_icon('check') %></td>
        <td class="text-center"><%= fa_icon('times') %></td>
      </tr>
      <tr>
        <td>The Food is Fresh</td>
        <td class="primary-color text-center"><%= fa_icon('check') %></td>
        <td class="text-center"><%= fa_icon('times') %></td>
      </tr>
      <tr>
        <td>It's Inexpensive</td>
        <td class="primary-color text-center"><%= fa_icon('check') %></td>
        <td class="text-center"><%= fa_icon('times') %></td>
      </tr>
      <tr>
        <td>It's Something to Talk about</td>
        <td class="primary-color text-center"><%= fa_icon('check') %></td>
        <td class="text-center"><%= fa_icon('times') %></td>
      </tr>
      <tr>
        <td>Meet New People</td>
        <td class="primary-color text-center"><%= fa_icon('check') %></td>
        <td class="text-center"><%= fa_icon('times') %></td>
      </tr>
    </table>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading primary-color">You're invited :-)
      <span class="text-muted">Take 2 minutes to find real food grown locally</span></h2>
    <p class="lead">First, complete a simple search on what type of food you’re looking for.</p>
    <div class="text-center">
      <%= fa_icon('search', class:'fa-4x primary-color fa-rotate-90') %>
    </div>
  </div>
  <div class="col-md-5 col-md-pull-7" style="text-align: -webkit-center;">
    <%= image_tag('grape-farm.jpeg', class: "featurette-image img-responsive center-block") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading primary-color">Review farms >>
      <span class="text-muted"> to find the farm that's right for you.</span></h2>
    <p class="lead">Compare prices, profiles, and reviews, then setup a CSA Share with the farmer that’s
      right for you from your computer.</p>
    <div class="text-center">
      <%= fa_icon('handshake-o', class:'fa-4x primary-color') %>
    </div>
  </div>
  <div class="col-md-5" style="text-align: -webkit-center;">
    <%= image_tag("farm-review.jpg", class: "featurette-image img-responsive center-block") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading primary-color">Eat fresh food :-)
      <span class="text-muted"> pick-up or delivered to your doorstep</span></h2>
    <p class="lead">From fresh green beans to beef, the right food is brought to your kitchen.</p>
    <div class="text-center">
      <%= fa_icon('cutlery', class:'fa-4x primary-color') %>
    </div>
  </div>
  <div class="col-md-5 col-md-pull-7" style="text-align: -webkit-center;">
    <%= image_tag('veggies and fruits.jpg', class: "featurette-image img-responsive center-block") %>
  </div>
</div>

<hr class="featurette-divider">

<!-- How it works text -->
<div class="header">
  <h1 class='primary-color text-center'>How it works
    <small> three simple steps</small>
  </h1>
</div>
<br>
<br>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <div class="text-center" style="padding: 20px;">
        <span class="steps-badge" style="display:inline;">1</span>
      </div>
      <a class="thumbnail">
        <%= image_tag("vegetable-basket.jpg") %>
      </a>
      <h2 class="primary-color">Discover
        <small> fresh food</small>
      </h2>
      <p>Whether you want fresh bell peppers, beef, or carrots, FindYourFresh connects you to local farmers who can
        satisfy your hunger.</p>
    </div>
    <div class="col-md-4">
      <div class="text-center" style="padding: 20px;">
        <span class="steps-badge" style="display:inline;">2</span>
      </div>
      <a class="thumbnail">
        <%= image_tag("handshake.jpg") %>
      </a>
      <h2 class="primary-color">Connect
        <small> with a farmer</small>
      </h2>
      <p>With a growing community of local farmers, FindYourFresh is the
        easiest way for people
        to connect to real, local food that's fresh. </p>
    </div>
    <div class="col-md-4">
      <div class="text-center" style="padding: 20px;">
        <span class="steps-badge" style="display:inline;">3</span>
      </div>
      <a class="thumbnail">
        <%= image_tag("prepared-food.jpg") %>
      </a>
      <h2 class="primary-color">Eat
        <small> real, fresh food</small>
      </h2>
      <p>Pick-up your healthy food and save money by buying from your local farmers.</p>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="header">
  <h1 class="primary-color text-center">READY TO TRY IT OUT? START NOW</h1>
</div>
<br>
<br>
<div class="row featurette">
  <div class="col-md-7 col-md-push-6">
    <div class="col-md-8" style="padding: 20px;">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.email_field :email, :placeholder => 'Email address', :class => 'form-control',
                            :style => 'margin-bottom: -1px; border-radius: 0px; border-top-left-radius: 4px; border-top-right-radius: 4px;' %>
          <%= f.password_field :password, :placeholder => 'Password (6 characters minimum)', :class => 'form-control', :style => 'margin-bottom: -1px; border-top-left-radius: 0; border-top-right-radius: 0; border-radius: 0px;' %>

          <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation', :class => 'form-control', :style => 'border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 0;' %>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <label class="radio-inline">
            <%= f.radio_button(:user_type, "farmer") %>Sell food (Farmer)
          </label>
          <label class="radio-inline">
            <%= f.radio_button(:user_type, "consumer") %>Eat food (Consumer)
          </label><br/>
          <%= f.submit "Sign up", :class => 'btn btn-lg btn-success btn-block', :style => 'margin-top: 10px;' %>
      <% end %>
      <br>
      <div class="primary-color">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-md-pull-6" style="text-align: -webkit-center;margin-bottom: 50px;">
    <%= image_tag("veggies and fruits.jpg", class: "featurette-image img-responsive center-block") %>
  </div>
</div>
</div>
</body>